---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import MyWork from "../components/MyWork.astro";
import AboutMe from "../components/AboutMe.astro";
import Contact from "../components/Contact.astro";
import MyTools from "../components/MyTools.astro";
---

<Layout title="Jincheng Ma | Portfolio">
  <main>
    <Hero />
    <MyWork />
    <AboutMe />
    <Contact />
    <!-- <MyTools /> -->
  </main>
</Layout>
