---
import Highlight from './Highlight.astro';
import SectionTitle from './SectionTitle.astro';
import StyledSection from './StyledSection.astro';
---

<StyledSection>
  <SectionTitle id='about_me'>
    A Brief Introduction of Myself: My Journey
  </SectionTitle>
  <div class='grid place-content-center'>
    <p class='max-w-2xl w-full px-2 mt-10'>
      My name is Jincheng Ma and I'm a passionate web developer from China. I am
      25 years old and currently studying at <b>Illinois Institute of Technology, Chicago</b>, 
      majoring in <b>Software Engineering</b>. I will graduate in the fall semester of 2024. 
      Throughout my education, I found a profound interest in programming and have embarked 
      on a journey of self-taught web development.
    </p>
    <p class='max-w-2xl mt-4 w-full px-2'>
      My focus has primarily been on <b>front-end development</b>, with <b>React</b> forming 
      the core of my technical stack. I am also currently learning <b>Next.js</b> and <b>Flutter</b> 
      to broaden my skillset. I enjoy creating <b>user-friendly and visually appealing</b> web interfaces 
      that add significant value to the user experience.
    </p>

    <p class='max-w-2xl mt-4 w-full px-2'>
      As I approach the completion of my studies, I am actively seeking a <b>full-time Software Development Engineer</b> 
      position. I am keen to apply my skills in a professional setting, learn from <b>experienced professionals</b>, 
      and contribute to meaningful projects. <br />
    </p>
    <p class='max-w-2xl mt-4 w-full px-2'>
      Fun fact about me: I hold a degree in <b>Material Science and Engineering</b>. I am always open to discussions 
      and collaborations, so feel free to reach out to me at <a href='mailto:jma49@hawk.iit.edu'>jma49@hawk.iit.edu</a>. 
      Check out my <a href='https://jma49.github.io'>resume</a> and let's connect!
    </p>
    <p
      class='bg-gradient-to-tr from-red-500 via-red-500 to-orange-500 bg-clip-text text-transparent w-full px-2 font-bold max-w-2xl mt-4'
    >
      I am committed to continuously enhancing my web development skills, exploring new technologies, and staying ahead in the tech world!
    </p>
  </div>
</StyledSection>
