---
import Heart from '../components/icons/Heart';
---

<footer
  class='border-t border-neutral-300/20 h-10 rounded-t-xl w-full grid place-content-center py-10 text-neutral-200'
>
  <p class='px-4 font-bold text-xs'>Copyright © 2024 - All rights reserved</p>
  <p class='text-[10px] flex items-center place-content-center'>
    Made with <span class='text-current'><Heart /></span>by {' '}
    <a
      href='https://www.github.com/jma49'
      target='_blank'
      rel='noopener noreferrer'
      class='px-0.5 hover:underline hover:text-red-500'>@Jincheng Ma</a
    >
  </p>
</footer>
