<nav
  class='h-16 flex items-center backdrop-blur-md sticky top-0 z-50 border-b rounded-b-xl border-neutral-300/20 px-4 bg-[#050505]/80 justify-between'
>
  <div class='flex items-center'>
    <img
      src='/hero.JPG'
      class='h-12 w-12 rounded-full object-cover object-top border-2 border-neutral-200/50'
    />
    <div class='flex flex-col px-2 text-red font-medium'>
      <span class='text-sm'>Jincheng Ma</span>
      <span class='text-xs opacity-80'>jma49@hawk.iit.edu</span>
    </div>
  </div>
  <div class='text-xs grid grid-cols-2 gap-2 max-md:px-1 px-6 font-semibold'>
    <a href='#social' class='hover:underline
   hover:text-red-500'>Contact</a>
    <a href='#about_me' class='hover:underline
   hover:text-red-500'>About Me</a
    >
  </div>
</nav>
